/*头部开始*/
.header{
    position: relative;
    height: 56px;
    width: 100%;
    background:#B3DFDA;
}
.mi_header_left{
    background: url("../images/header_center_bg.png") repeat-x;
}
.mi_header_center ul{
    position: absolute;
    left:730px;
    top:15px;
    font-size: 8px;
}
.mi_header_center li{
    border-right: 2px solid #ffffff;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
}
.mi_header_right{
    position: absolute;
    right: 0;
    top:0;
}
/*头部结束*/

/*左侧导航栏开始*/



/*左侧导航栏结束*/